[Unit]
Description=Runner for the Minecraft Server

# Require the database to have started so that block-logging works
After=mysql.service     
# If the database goes down, then we want to stop the minecraft server too
# In mysql's config, we ensure that g_mc.service is stopped fully before mysql.service begins to stop 
Requires=mysql.service  
# When mysql.service stops, this g_mc.service stops too. Ordering is defined in the mysql config
BindsTo=mysql.service    

# Limit to 2 restarts (in a 5m period), after that mark as failed
StartLimitIntervalSec=5m  
StartLimitBurst=2

# Status logging
# We need to do it like this as OnFailure cannot run bash
OnFailure=g_service_failed@Minecraft-g_mc.service

[Service]
User=g_mc
Group=g_mc
WorkingDirectory=/var/lib/g_mc
ExecStart=/opt/infra/scripts/g_mc/service_start.sh  
ExecStop=/opt/infra/scripts/g_mc/service_stop.sh

# Get environment variables (we need this to get the github web url)
EnvironmentFile=/etc/g-demmain/common.env
EnvironmentFile=/etc/g-demmain/g_mc_g_web_minecraft.env

# Status logging
ExecStartPost=/bin/python3 /opt/infra/scripts/webhooks.py status Minecraft g_mc starting
ExecStopPost=/bin/python3 /opt/infra/scripts/webhooks.py status Minecraft g_mc stopped

# Restart only when it crashes, not on /stop
Restart=on-failure
RestartSec=10

# Any files created will be read/writable by the user g_mc and the group g_mc
UMask=0002

# Security hardening:
PrivateTmp=true
# Blocks write access to certain folders
ProtectSystem=full   

# Allow monitoring of disk read/write
IOAccounting=yes 

[Install]
WantedBy=multi-user.target
