# TODO: Make this follow the g_web service

[Unit]
Description=Runner for the console websocket for the website 

After=network.target

# Limit to 2 restarts (in a 5m period), after that mark as failed
StartLimitIntervalSec=5m  
StartLimitBurst=2

# Status logging
# We need to do it like this as OnFailure cannot run bash
OnFailure=g_service_failed@ConsoleWebsocket-g_web_mcc.service

[Service]
User=g_web
Group=g_web
WorkingDirectory=/var/lib/g_web/mcc
ExecStart=/usr/bin/node server.js

Environment=NODE_ENV=production
# This port is temporary
Environment=PORT=3000
EnvironmentFile=/etc/g-demmain/common.env
EnvironmentFile=/etc/g-demmain/g_web_website.env
EnvironmentFile=/etc/g-demmain/g_mc_g_web_minecraft.env

Restart=on-failure
RestartSec=10
UMask=0002

# Status logging
ExecStartPost=/bin/python3 /opt/infra/scripts/webhooks.py status "Console Websocket" g_web_mcc starting
ExecStopPost=/bin/python3 /opt/infra/scripts/webhooks.py status "Console Websocket" g_web_mcc stopped

# Security hardening:
PrivateTmp=true
# Blocks write access to certain folders
ProtectSystem=full 

# Allow monitoring of disk read/write
IOAccounting=yes

[Install]
WantedBy=multi-user.target
